<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.raptor2101.BattleWorldsKronos.Connector.Gui"
    android:versionCode="3013"
    android:versionName="0.2.2 (Tablet)" >
	<supports-screens android:smallScreens="false"
        android:normalScreens="false"
        android:largeScreens="true"
        android:xlargeScreens="true" />
    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />
	<uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" android:name="de.raptor2101.BattleWorldsKronos.Connector.ConnectorApp">
        <service android:name="de.raptor2101.BattleWorldsKronos.Connector.NotificationService"></service>
        <activity android:name="de.raptor2101.BattleWorldsKronos.Connector.Gui.Activities.GameListingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="de.raptor2101.BattleWorldsKronos.Connector.Gui.Activities.MessageListingActivity" android:label="@string/title_activity_messages">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="de.raptor2101.BattleWorldsKronos.Connector.Gui.Activities.WriteMessageActivity"></activity>
        <activity android:name="de.raptor2101.BattleWorldsKronos.Connector.Gui.Activities.SettingsActivity"  android:label="@string/title_activity_settings"></activity>
    </application>
</manifest>
